<div class="container px-4 mb-3">
    <div class="row gx-5">
        <!-- Blog Post Section -->
        <section class="p-3 border bg-light col-5">
            <h4 style="position:relative; left: 50px;">The Ultimate Habit Tracker Guide:</h4>
            <h4 style="position:relative; left: 50px;">Why and How to Track Your Habits</h4>
            <h6 style="position:relative; left: 175px; colour:rgb(166, 166, 166)"><i>written by James Clear</i></h6><br>
            <p>If you want to stick with a habit for good, one simple and effective thing you can do is keep a habit
                tracker.</p>
            <p><strong>Here's why:</strong> performers will often measure, quantify, and track their progress in various
                ways. Each little
                measurement provides feedback. It offers a signal of whether they are making progress or need to change
                course.</p>
            <p>When it comes to building a habit, feedback is often delayed. It can be difficult to visualize the
                progress you are making with your habits.</p>
            <h6>The Life Tracker: What It Is and How It Works:</h6>
            <ol>
                <li>It creates a visual cue that can remind you to act.</li>
                <li>It is motivating to see the progress you are making. You don't want to break your streak.</li>
                <li>It feels satisfying to record your success in the moment.</li>
            </ol>
            <button style="position:relative; left: 175px;" id="sign-up" class="btn btn-success"><a
                    href="/sign-up">Sign-up Today!</a></button>
        </section>
        <!-- Cards Section -->
        <section class="col-7">
            <div class="card mb-3 bg-light" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="images/emily-sea-coiWR0gT8Cw-unsplash.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Fitness</h5>
                            <p class="card-text">Ways we can help you track your fitness goals.</p>
                            <button id="workout-learn" class="btn btn-secondary btn-sm"><a
                                    href="/workout-tracker-info">Read More</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3 bg-light" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="images/91-magazine-qFFS4I4hdIE-unsplash.jpg" class="img-fluid rounded-start"
                            alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Career</h5>
                            <p class="card-text">Ways we can help you track your career goals.</p>
                            <button id="workout-learn" class="btn btn-secondary btn-sm"><a
                                    href="/workout-tracker-info">Read More</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3 bg-light" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="images/vardan-papikyan-LqXdAcFGVh0-unsplash.jpg" class="img-fluid rounded-start"
                            alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Finance</h5>
                            <p class="card-text">Ways we can help you track your finance goals.</p>
                            <button id="workout-learn" class="btn btn-secondary btn-sm"><a
                                    href="/workout-tracker-info">Read More</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>